.scroll-to-top
footer
    .row
        .medium-4.columns
            h4 Products
            .row
                - var products = getCollection("products").toJSON()
                .medium-6.columns
                    ul.no-bullet
                        each product, index in products
                            if index % 2 == 0
                                li
                                    a(href= product.url) #{product.productName}
                .medium-6.columns
                    ul.no-bullet
                        each product, index in products
                            if index % 2 == 1
                                li
                                    a(href= product.url) #{product.productName}
        .medium-4.columns                    
            h4 Legal
            .row
                .columns
                    ul.no-bullet
                        li
                            a(href="/privacy.html") Privacy Policy
                        li
                            a(href="/terms.html") Terms of Use
                        li
                            a(href="/eula.html") EULA for Apps
        .medium-4.columns
            h4 Contact
            ul.home-social
                //-
                    li
                        a(href="#").google-plus
                    li
                        a(href="#").linkedin
                    li
                        a(href="https://twitter.com/stellaritysoft").twitter
                    li
                        a(href="https://www.facebook.com/StellaritySoftware").facebook
                li
                    a(href=getProtectedEmailLink("contact@stellaritysoftware.com"), onfocus=getEmailProtectionCode() onMouseOver=getEmailProtectionCode()).email
    #copyright.text-center
        small Copyright © 2014-2024
            a(href="https://www.stellaritysoftware.com/")  Stellarity Software
            | , All Rights Reserved
!= getBlock("scripts").toHTML()
script(src="/js/vendor/jquery.min.js")
script(src="/js/foundation.js")
script(src="/js/jquery.magnific-popup.min.js")
script(src="/js/app.js")
script
    include ../../static/js/scroll-to-top.min.js